node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Logs
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
debug.log

# Build outputs
dist/
build/
out/

# TypeScript
*.tsbuildinfo

# Enviroment variables
.env

# IDEs and editors
.vscode/
.idea/
*.swp
*~
.DS_Store

# Coverage directory used by Jest/Cypress
coverage/

# Temporary files
tmp/
temp/
*.tmp
*.temp

# Database (PostgreSQL specific)
pgadmin4.log
pgadmin4.db
*.sql

# Miscellaneous
.sass-cache/
connect.lock
package-lock.json